<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Gighub", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Add a Gig", "Create", "Gigs")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/lib")
    @RenderSection("scripts", required: false)

<script type="text/x-template" id="notifications-template">
        <ul class="notifications">
            <%
                _.each(notifications, function(notification){
                    if(notification.type == 1){ %>
                        <li>
                            <span class="highlight"><%= notification.gig.artist.name %></span> has cancelled the gig at
                            <%= notification.gig.venue %> at <%= moment(notification.gig.dateTime).format("D MMM HH:mm") %>.
                        </li>
                    <% }
                    if(notification.type == 2) {
                        if(notification.originalDateTime != null && notification.originalVenue == null){ %>
                            <li>
                                <span class="highlight"><%= notification.gig.artist.name %></span> has changed the date/time of their gig -
                                <%= notification.gig.venue %> from 
                                <%= moment(notification.originalDateTime).format("D MMM HH:mm") %>
                                to
                                <%= moment(notification.gig.dateTime).format("D MMM HH:mm") %>
                            </li>
                       <% }
                     }
                    if(notification.type == 2) {
                        if(notification.originalVenue != null && notification.originalDateTime == null){ %>
                        <li>
                            <span class="highlight"><%= notification.gig.artist.name %></span> has changed the venue of their gig - 
                            <%= notification.originalVenue %>
                            to
                            <%= notification.gig.venue %>
                        </li>
                        <% }
                    }
                    if(notification.type == 2) {
                        if(notification.originalVenue != null && notification.originalDateTime != null){ %>
                        <li>
                            <span class="highlight"><%= notification.gig.artist.name %></span> has changed the venue and date/time of their gig - 
                            <%= notification.originalVenue %>, <%= moment(notification.originalDateTime).format("D MMM HH:mm") %> 
                            to 
                            <%= notification.gig.venue %>, <%= moment(notification.gig.dateTime).format("D MMM HH:mm") %>
                        </li>
                        <% }
                    }
                })
            %>
        </ul>
    </script>

    <script>
        $(document).ready(function () {
            $.getJSON("/api/notifications",
                function (notifications) {

                    if (notifications.length === 0)
                        return;

                    $(".js-notifications-count")
                        .text(notifications.length)
                        .removeClass("hide")
                        .addClass("animated bounceInDown");

                    $(".notifications").popover({
                        html: true,
                        title: "Notifications",
                        content: function () {
                            var compiled = _.template($("#notifications-template").html());
                            return compiled({ notifications : notifications });
                        },
                        placement: "bottom",
                        template: '<div class="popover popover-notifications" role="tooltip"><div class="arrow"></div><h3 class="popover-title"></h3><div class="popover-content"></div></div>'	
                    }).on("shown.bs.popover", function() {
                        $.ajax({
                            url: "/api/notifications",
                            method: "POST"
                        }).done(function() {
                            $(".js-notifications-count")
                                .addClass("hide")
                                .text("");
                        }).fail(function() {
                            window.alert("Something went wrong :(");
                        });
                    });
                });
        });
    </script>
</body>
</html>
